# WordPress

/wp-admin/*
/wp-content/languages/*
/wp-content/logs/*
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/upgrade/*
/wp-content/uploads/*
/wp-content/debug.log
/wp-content/index.php
/wp-includes/*
/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# Unignore site theme and plugins.
!/wp-content/plugins/secrethitler/
!/wp-content/themes/secrethitler/
