// LIBRARIES
@use "sass:math";

@import 'lib/helpers';
@import 'lib/normalize';
@import 'lib/range';

// MEDIA QUERIES
$theme-ranges: (
	xs:      ( min:  575 ),
	sm:      ( min:  576 ),
	md:      ( min:  768 ),
	lg:      ( min:  992 ),
	xl:      ( min: 1200 ),

	tiny:    ( max:  400 ),
	mobile:  ( max:  879 ),
	desktop: ( min:  880 ),
);

$ranges: map-merge($ranges, $theme-ranges);

:root {

	// FONTS
	--primary-font: 'Open Sans', sans-serif;
	--title-font:   'Germania One', cursive;

	// COLORS
	--background-dark-gray:  #333;
	--background-light-gray: #eee;
	--border-light-gray:     #ddd;
	--text-light-gray:       #aaa;
	--text-dark-gray:        #888;
	--text-black:            #333;
	--highlight-light-blue:  #80C0FF;
	--highlight-dark-blue:   #{desaturate( darken( #80C0FF, 18% ), 66% )};

	--sh-black:              rgb(67, 67, 67);
	--sh-orange:             rgb(251, 185, 105);
	--sh-red:                #f2654b;
	--sh-white:              #fde1c0;

	// STYLES
	--link-color:            var(--sh-black);
	--link-color-hover:      var(--sh-red);
	--link-text-decoration:  underline;

}

* {
	box-sizing: border-box;
}

html,
body {
	font: 16px/1 var(--primary-font);
}

body {
	background: var(--sh-orange);
	color: var(--sh-black);
	min-width: 16em;
	min-height: 100vh;
	@include range(mobile) {
		padding: 7em 1em 4em;
	}
	@include range(desktop) {
		padding: 5em 2em 3em;
	}
}

a {
	color: var(--link-color);
	&:hover{ color: var(--link-color-hover) };
	text-decoration: var(--link-text-decoration);
	transition: color .3s;
}

h2,
h3 {
	text-align: center;
	text-transform: uppercase;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
	width: 100%;
	border: none;
	padding: .5em;
}

button {
	display: block;
	width: 100%;
	padding: 1em;
	background: var(--sh-red);
	border: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.center {
	text-align: center;
}

// HEADER

.header {
	position: absolute;
	top: 0; right: 0; left: 0;
	padding: 1em;
	--link-text-decoration: none;
	a { color: inherit; }
	white-space: nowrap;
	@include range(desktop) {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-pre {
	@include range(mobile) {
		display: none;
	}
	@include range(desktop) {
		flex: 1;
	}
}

.header-title {
	@include range(mobile) {
		margin: 0 0 1em;
	}
	@include range(desktop) {
		flex: 0;
		margin: 0 1em;
	}

	h1 {
		font-family: var(--title-font);
		margin: 0;
		text-align: center;
		font-size: 2.5em;
	}
}

.header-nav {
	line-height: 1.5;
	font-weight: bold;
	text-transform: uppercase;
	--link-text-decoration: none;
	@include range(desktop) {
		flex: 1;
	}

	ul {
		@include no-list-style;
		display: flex;
		flex-wrap: wrap;
		@include range(mobile) {
			justify-content: center;
		}
		@include range(desktop) {
			justify-content: flex-end;
		}
	}

	li {
		&:not(:first-child) {
			margin-left: 1em;
		}
	}
}

.nav-icon {
	opacity: .5;
}

.nav-text {
	li.current & {
		text-decoration: underline;
		text-decoration-color: var(--sh-red);
		text-decoration-thickness: 3px;
	}
}

// MAIN

.main {
	position: relative;
}

.main-title {
	margin: 0 0 1em;
}

// COMPONENTS

.panel {
	margin: auto;
	width: 100%;
	max-width: 26em;
}

.cards {
	@include no-list-style;

	li {
		display: flex;
		margin: 1em 0;
		padding: 1em;
		cursor: pointer;
		color: var(--sh-white);
		background: var(--sh-black);
		&:hover {
			background: var(--sh-red);
		}
		transition: background-color .2s;
	}
}

.card-code {
	flex: 0 0 5.5em;
	text-transform: uppercase;
	font-weight: bold;
}

.card-name {
	flex: 1;
}

.buttons {
	@include no-list-style;
	display: flex;
	margin: -.5em;
	@include range(mobile) {
		flex-direction: column;
	}

	li {
		flex: 1 1 0;
		margin: .5em;
	}
}

.form {
}

.form-row {
	margin: 1em 0;
	@include range(desktop) {
		display: flex;
		align-items: center;
	}
}

.form-label {
	text-transform: uppercase;
	font-weight: bold;
	@include range(mobile) {
		padding-bottom: .5em;
	}
	@include range(desktop) {
		flex: 0 0 9em;
		padding-right: .5em;
	}
}

.form-input {
	@include range(desktop) {
		flex: 1;
	}
}

.form-buttons {
	margin: 1em 0;
	@include range(desktop) {
		padding-left: 9em;
	}
}

// FOOTER

.footer {
	position: absolute;
	bottom: 0; right: 0; left: 0;
	padding: 1em;
	--link-text-decoration: none;
	a { color: inherit; }
	white-space: nowrap;
	font-size: math.div(12,16)+rem;
}

.footer-nav {
	@extend .header-nav;

	ul {
		@include range(desktop) {
			justify-content: center;
		}
	}
}

.loading {
	position: fixed;
	opacity: 0;
	z-index: 200;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	font-size: 6rem;
	transition: opacity .2s;

	&.show {
		opacity: 1;
		pointer-events: auto;
	}
}
